*~
*.com
*.class
*.db
*.dll
*.exe
*.ini
*.lock
*.log
*.mm
*.o
*.phar
*.so
*.sql
*.sqlite

.cvs
.DS_Store
.DS_Store*
.git
.htaccess
.project
.sass-cache
.settings
.svn
.sync
.Trash
.Trash-*
.travis.yml

bin
bin/
nbproject
nbproject/
test
test/
vendor
vendor/

access_log
error_log
license.txt
phpunit.xml
readme.html