button,
input,
label,
select,
textarea {
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

form,
input,
option,
select {
    background:transparent;
    border:0;
    margin:0;
    padding:0;
    vertical-align:baseline;
}

.clean-input,
input[type=text],
input[type=password],
input.clean-input {
    background:#f7f7f7;
    background-color:#f7f7f7;
    border:1px solid #b3b3b3;
    color:#333333;
    font-size:14px;
    height:28px;
    line-height:16px;
    margin:0 auto;
    padding:0 0 0 3px;
    text-align:left;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee' );
    background:-webkit-gradient( linear, left top, left 25, from( #ffffff ), color-stop( 4%, #eeeeee ), to( #ffffff ) );
    background:-moz-linear-gradient( top, #ffffff, #eeeeee 1px, #ffffff 25px );
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}

.clean-select,
select.clean-select,
select {
    background:#f7f7f7;
    background-color:#f7f7f7;
    border:1px solid #b3b3b3;
    color:#333333;
    font-size:14px;
    font-weight:normal;
    height:28px;
    line-height:16px;
    margin:0 auto;
    text-align:left;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee' );
    background:-webkit-gradient( linear, left top, left 25, from( #ffffff ), color-stop( 4%, #eeeeee ), to( #ffffff ) );
    background:-moz-linear-gradient( top, #ffffff, #eeeeee 1px, #ffffff 25px );
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}

.clean-button,
input[type=submit],
input.clean-button {
    background:#f7f7f7;
    background-color:#f7f7f7;
    border:1px solid #999999;
    color:#333333;
    cursor:pointer;
    cursor:hand;
    font-size:14px;
    font-weight:normal;
    height:28px;
    line-height:16px;
    margin:0 auto;
    outline:0;
    padding:0 15px;
    text-align:center;
    text-decoration:none;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#aaaaaa' );
    background:-webkit-gradient( linear, left top, left bottom, from( #f7f7f7 ), to( #aaaaaa ) );
    background:-moz-linear-gradient( top, #f7f7f7, #aaaaaa );
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -khtml-border-radius:3px;
    border-radius:3px;
}

.clean-button:focus,
.clean-button:hover,
input[type=submit]:focus,
input[type=submit]:hover,
input.clean-button:focus,
input.clean-button:hover {
    background:#dadada;
    background-color:#dadada;
    color:#111111;
}

.clean-button:active,
input[type=submit]:active,
input.clean-button:active {
    background:#b3b3b3;
    background-color:#b3b3b3;
    color:#ffffff;
}

input[readonly] {
    background:#dadada;
    background-color:#dadada;
}

input.width-full,
.width-full {
    width:100%;
}

input.width-large,
.width-medium {
    width:450px;
}

input.width-medium,
.width-medium {
    width:225px;
}

input.width-small,
.width-medium {
    width:125px;
}

input.width-smaller,
.width-smaller {
    width:75px;
}

input:focus,
select:focus {
    border:1px solid #b3b3b3;
    outline:0;
    outline-offset:0;
    text-shadow:0 0 0 #f7f7f7;
    -moz-box-shadow:0 0 0 0 #f7f7f7;
    -webkit-box-shadow:0 0 0 0 #f7f7f7;
    box-shadow:0 0 0 0 #f7f7f7;
}

.inside-box {
    background:#ffffff;
    background-color:#ffffff;
    border:1px solid #cccccc;
    margin:25px auto;
    width:95%;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}

.inside-pad {
    padding:15px 30px;
}

.para {
    color:#606060;
    font-size:14px;
    line-height:18px;
}

.para h2 {
    border-bottom:1px dashed #cccccc;
    font-weight:bold;
}

.postbox h3 span {
    float:left;
    font-weight:bold;
    line-height:28px;
}

.postbox h3 .button {
    font-weight:bold;
    height:28px;
    line-height:26px;
    margin-left:15px;
}

.postbox-wrap {
    width:100%;
}

.postbox-left {
    float:left;
    width:48%;
}

.postbox-rite {
    float:right;
    width:48%;
}

table {
    border:1px solid #aaaaaa;
    margin:25px auto;
    width:100%;
}

th {
    background:#edebeb;
    border:1px solid #cbcbcb;
    color:#4491a4;
    font-size:11px;
    letter-spacing:2px;
    padding:4px 4px;
    text-align:center;
    text-transform:uppercase;
}

td {
    background:#f7f7f7;
    background-color:#f7f7f7;
    border:1px solid #cbcbcb;
    color:#333333;
    font-size:12px;
    padding:4px 4px;
}

.textcenter { text-align:center; }
.textleft { text-align:left; }
.textright { text-align:right; }
.aligncenter { margin-left:auto;margin-right:auto; }

.active {
    color:#00cc00;
    font-weight:bold;
    text-decoration:underline;
}

.inactive {
    color:#cc0000;
    font-weight:bold;
    text-decoration:underline;
}

.showing {
    color:#00cc00;;
}

.table {
     width:80%;
     margin:0 auto;
}

.textarea {
    margin:0 auto;
    width:100%;
}

.notice-box {
    background:#FEEFB3;
    background-color:#FEEFB3;
    border:2px solid #fde379;
    margin:0 auto;
    padding:0 12px;
    width:75%;
}

.notice-box h3 {
    color:#9F6000;
}